{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<div class="addForm">
    <div class="">
        <h2>Add An Item To The Collection</h2>
    </div>

    <div class="">
        <form action="#" method="post">
            <fieldset>
                <legend>New Item Details</legend>

                <div>
                    <select class="#" id="#" name="category_id">
                        {% for category in categories %}
                        <option value= "{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <div>
                        <label for="name">Name:</label>
                    </div>
                    <div>
                        <input type="text" class="#" maxlength="100" name="name">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="description">Description</label>
                    </div>
                    <div>
                        <textarea name="description" rows="8" cols="80"></textarea>
                    </div>
                </div>
                <div>
                    <button type="submit" class="#" id="submit" type="submit">
                    <span class="#" aria-hidden="true"></span>Create</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
