{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<div class="addForm">
    <div class="listTitle">
        <h2>Delete An Item</h2>
    </div>

    <div class="formInner">
        <h3> Are you sure you want to delete {{item.name}}? </h3>

        <div class="choices">
            <form action="#" method='post'>
                <button type="submit" class="#" id="submit" type="submit">Delete</button>
            </form>

            <a href="{{url_for('showItems', category_id=category.id)}}"><button class="#">Cancel</button></a>
        </div>
    </div>
</div>

{% endblock %}
