{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

<div>
    <h2>Edit an Item</h2>
</div>

<div>
    <div>
        <form action="#" method="post">
            <fieldset>
                <legend>Edit Item Details</legend>
                <div>
                    <div>
                        <label for="categories">Category</label>
                    </div>
                    <div>
                        <select name="categories" id=""></select>
                    </div>
                </div>
                <div>
                    <div>
                        <label for="name">Name:</label>
                    </div>
                    <div>
                        <input type="text" class="#" maxlength="100" name="name">
                    </div>
                </div>
                <div>
                    <div>
                        <label for="description">Description</label>
                    </div>
                    <div>
                        <textarea name="description" rows="8" cols="80">Enter Item Details...</textarea>
                    </div>
                </div>
                <div>
                    <button type="submit" class="#" id="submit" type="submit">
    				<span class="#" aria-hidden="true"></span>Update</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>



{% endblock %}
