<div class="welcome">
    <div class="brand">
        <h1>Colonel Carruthers' Curious Cabinet Of Collectible Cast Offs</h1>
    </div>
    <div class="login">
        {% if 'username' not in session %}
            <a href="{{ url_for('showLogin') }}">log in</a>
            <p>name: {{session.state}}</p>
        {% else %}
            <a href="#">log out</a>
            <p>name: {{session.state}}</p>
        {% endif %}
    </div>
</div>
<div class="tagline">
    <h2>Where you will find the most interesting objects</h2>
</div>
