{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<div>
		<div>
			<a href=#>Click Here to Log in </a>
		</div>
	</div>

	<div>
        <h2>Categories In The Collection</h2>
	</div>

    <div>
        <ul>
            <li>Globes</li>
            <li>Walking Sticks</li>
            <li>Telephonic Devices</li>
            <li>Ephemera</li>
            <li>Moustache Care</li>
            <li>Exploring</li>
        </ul>
    </div>

    <div>
        <h2>Category Name</h2>
    </div>

    <div>
        <ul>
            <li>Item Name</li>
            <li>Item Name</li>
            <li>Item Name</li>
            <li>Item Name</li>
            <li>Item Name</li>
        </ul>
    </div>




{% endblock %}
