{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

	<div class="itemDetails">
        <div class="listTitle">
                <h2>{{ item.name }}</h2>
        </div>

            <div class="itemDescription">
                <p class="about">{{item.name}}, from the category {{category.name}}</p>
                <p class="details">{{item.description}}</p>
            </div>

            <div class="choices">
                <a href = "{{url_for('editItem', category_id = category.id, item_id=item.id)}}"><button>Edit Item</button></a>
                <a href = "{{url_for('deleteItem', category_id = category.id, item_id=item.id)}}"><button>Delete Item</button></a>
            </div>
    </div>

{% endblock %}
