{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<div>
		<div>
			<a href=#>Click Here to Log in </a>
		</div>
	</div>

	<div>
        <h2>Categories In The Collection</h2>
	</div>

    <div>
        {% for category in categories %}
        	<a href = "{{url_for('showItems', category_id = category.id)}}">
        		<div>
        			<div></div>
        				<div>
        					<h3>{{category.name}}</h3>
        				</div>
        			<div></div>
        		</div>
        	</a>
        {% endfor %}
    </div>

    <div>
        <h2>{{selected_category.name}}</h2>
    </div>

    <div>
        {% for item in items %}
        	<a href = "{{url_for('showItem', category_id = selected_category.id, item_id = item.id)}}">
        		<div>
        			<div></div>
        				<div>
        					<h3>{{item.name}}</h3>
        				</div>
        			<div></div>
        		</div>
        	</a>
        {% endfor %}
    </div>




{% endblock %}
