{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

	<div class="categorySidebar">
        <div class="listTitle">
                <h2>Categories In The Collection</h2>
        </div>

            <div class="categoryList">
                {% for category in categories %}
                    <a href = "{{url_for('showItems', category_id = category.id)}}">
                        <div>
                            <div></div>
                                <div>
                                    <h3>{{category.name}}</h3>
                                </div>
                            <div></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
    </div>

    <div class="itemsSection">

        <div class="listTitle">
            <h2>Recent Additions To The Collection</h2>
        </div>

        <div class="itemList">
            {% for item in items %}
                <a href = "{{url_for('showItem', category_id = item.category_id, item_id = item.id)}}">
                    <div>
                        <div></div>
                            <div>
                                <h3>{{item.name}}</h3>
                            </div>
                        <div></div>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% if 'test'=='test' %}
        <div class="addItem">
            <a href = "{{url_for('addItem')}}">Add An Item To The Collection</a>
        </div>
        {% endif %}
    </div>

{% endblock %}
