body {
    max-width: 960px;
    margin: 0 auto 0 auto;
    background-color: #f9f7f1;
    display: flex;
    flex-direction: column;
}

/* header section of template */

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 0 1.5em 0;
}

.brand {
    align-self: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.login {
    align-self: center;
}

.login a {
    text-decoration: none;
    color: black;
}

.login a:visited {
    color: grey;
}

.login a:hover {
    font-weight: bold;
}

.tagline {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    font-style: italic;
    text-transform: capitalize;
    border-bottom: solid;
    border-width: thin;
    padding-bottom: 1em;
}

.flashes {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    font-size: 0.8em;
    font-style: italic;
    text-transform: uppercase;
    color: red;
}

.home {
    align-self: flex-start;
    margin-bottom: 0.5em;
}

.home a {
    text-decoration: none;
    color: black;
}

.home a:visited {
    color: grey;
}

.home a:hover {
    font-weight: bold;
}

/* content section of template */

.container {
    display: flex;
    flex-direction: row;
}

.categorySidebar {
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-width: thin;
    padding-right: 1em;
}

.categoryList {
    margin-top: 1em;

}

.categoryList a {
    text-decoration: none;
    color: black;
}

.categoryList a:visited {
    color: grey;
}

.categoryList a:hover {
    font-weight: bold;
}

.itemList {
    margin-top: 1em;
}

.itemList a {
    text-decoration: none;
    color: black;
}

.itemList a:visited {
    color: grey;
}

.itemList a:hover {
    font-weight: bold;
}

.itemsSection {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.listTitle {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.addItem {
    margin-top: 1em;
    font-style: italic;
    font-weight: lighter;
}

.addItem a {
    text-decoration: none;
    color: black;
}

.addItem a:visited {
    color: grey;
}

.addItem a:hover {
    font-weight: bold;
}

/*items*/
.itemDetails {
    display: flex;
    flex-direction: column;
}

.itemDescription {
    margin: 1em auto 1em auto;
}

.about {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

.details {
    margin-top: 0.5em;
    margin-left: 1em;
}

/*forms*/
.addForm {
    display: flex;
    flex-direction: column;
}

.formInner {
    margin-top: 1em;
}

.legend {
    margin-bottom: 1em;
    font-weight: bold;
}

.categorySelect {
    margin-bottom: 0.5em;
}

.nameEdit {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

.descriptionLabel {
    margin-bottom: 0.5em;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 160px;
    margin-top: 1em;
}

.categoryTitle {
    margin-bottom: 0.5em;
    font-style: italic;
}

.dropDown {
    margin-left: 0.5em;
}

.input {
    margin-left: 0.5em;
}

/* login page */
.loginPage {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

#signinButton {
    margin-left: 1em;
}
